.pie-pagina{
    display: flex;
    margin-top: 10rem;
    margin-bottom: 1rem;
    flex-direction: row;
    text-align: center;
    background-color: rgb(222, 219, 214);
}
.derechos{
    text-align: center;
}